@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RedHat";
  src: local("RedHatText-Bold"), url("/assets/fonts/static/RedHatText-Bold.ttf");
}

@font-face {
  font-family: "RedHat";
  src: local("RedHatText-Regular"),
    url("/assets/fonts/static/RedHatText-Regular.ttf");
}

@font-face {
  font-family: "RedHat";
  src: local("RedHatText-SemiBold"),
    url("/assets/fonts/static/RedHatText-SemiBold.ttf");
}
